## Life_Expectancy

### Importing Libraries

In [36]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [37]:

pd.set_option('display.max_columns', None)
data = pd.read_csv('Life Expectancy Data.csv')
data.head(5)

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,19.1,83,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,18.6,86,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,18.1,89,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,17.6,93,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,17.2,97,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [38]:
data.shape

(2938, 22)

In [39]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2938 entries, 0 to 2937
Data columns (total 22 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Country                          2938 non-null   object
 1   Year                             2938 non-null   int64
 2   Status                           2938 non-null   object
 3   Life expectancy                  2928 non-null   float64
 4   Adult Mortality                  2928 non-null   float64
 5   infant deaths                    2938 non-null   int64
 6   Alcohol                          2744 non-null   float64
 7   percentage expenditure           2938 non-null   float64
 8   Hepatitis B                      2385 non-null   float64
 9   Measles                          2938 non-null   int64
 10   BMI                             2904 non-null   float64
 11  under-five deaths                2938 non-null   int64
 12  Polio                            2919 non-null   float64
 13  Total expenditure                2712 non-null   float64
 14  Diphtheria                       2919 non-null   float64
 15   HIV/AIDS                        2938 non-null   float64
 16  GDP                              2490 non-null   float64
 17  Population                       2286 non-null   float64
 18   thinness  1-19 years            2904 non-null   float64
 19   thinness 5-9 years              2904 non-null   float64
 20  Income composition of resources  2771 non-null   float64
 21  Schooling                        2775 non-null   float64
dtypes: float64(16), int64(4), object(2)
memory usage: 505.1+ KB

In [40]:
data.describe()

,Year,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
count,2938.000000,2928.000000,2928.000000,2938.000000,2744.000000,2938.000000,2385.000000,2938.000000,2904.000000,2938.000000,2919.000000,2712.00000,2919.000000,2938.000000,2490.000000,2.286000e+03,2904.000000,2904.000000,2771.000000,2775.000000
mean,2007.518720,69.224932,164.796448,30.303948,4.602861,738.251295,80.940461,2419.592240,38.321247,42.035739,82.550188,5.93819,82.324084,1.742103,7483.158469,1.275338e+07,4.839704,4.870317,0.627551,11.992793
std,4.613841,9.523867,124.292079,117.926501,4.052413,1987.914858,25.070016,11467.272489,20.044034,160.445548,23.428046,2.49832,23.716912,5.077785,14270.169342,6.101210e+07,4.420195,4.508882,0.210904,3.358920
min,2000.000000,36.300000,1.000000,0.000000,0.010000,0.000000,1.000000,0.000000,1.000000,0.000000,3.000000,0.37000,2.000000,0.100000,1.681350,3.400000e+01,0.100000,0.100000,0.000000,0.000000
25%,2004.000000,63.100000,74.000000,0.000000,0.877500,4.685343,77.000000,0.000000,19.300000,0.000000,78.000000,4.26000,78.000000,0.100000,463.935626,1.957932e+05,1.600000,1.500000,0.493000,10.100000
50%,2008.000000,72.100000,144.000000,3.000000,3.755000,64.912906,92.000000,17.000000,43.500000,4.000000,93.000000,5.75500,93.000000,0.100000,1766.947595,1.386542e+06,3.300000,3.300000,0.677000,12.300000
75%,2012.000000,75.700000,228.000000,22.000000,7.702500,441.534144,97.000000,360.250000,56.200000,28.000000,97.000000,7.49250,97.000000,0.800000,5910.806335,7.420359e+06,7.200000,7.200000,0.779000,14.300000
max,2015.000000,89.000000,723.000000,1800.000000,17.870000,19479.911610,99.000000,212183.000000,87.300000,2500.000000,99.000000,17.60000,99.000000,50.600000,119172.741800,1.293859e+09,27.700000,28.600000,0.948000,20.700000

### Filling Missing Values

In [41]:
data.isnull().sum()

Country                              0
Year                                 0
Status                               0
Life expectancy                     10
Adult Mortality                     10
infant deaths                        0
Alcohol                            194
percentage expenditure               0
Hepatitis B                        553
Measles                              0
 BMI                                34
under-five deaths                    0
Polio                               19
Total expenditure                  226
Diphtheria                          19
 HIV/AIDS                            0
GDP                                448
Population                         652
 thinness  1-19 years               34
 thinness 5-9 years                 34
Income composition of resources    167
Schooling                          163
dtype: int64

In [42]:
data.columns

Index(['Country', 'Year', 'Status', 'Life expectancy ', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',
       'Measles ', ' BMI ', 'under-five deaths ', 'Polio', 'Total expenditure',
       'Diphtheria ', ' HIV/AIDS', 'GDP', 'Population',
       ' thinness  1-19 years', ' thinness 5-9 years',
       'Income composition of resources', 'Schooling'],
      dtype='object')

In [43]:
data['Life expectancy '].fillna(data['Life expectancy '].mean(), inplace=True)

data['Adult Mortality'].fillna(data['Adult Mortality'].mean(), inplace=True)

data['Alcohol'].fillna(data['Alcohol'].mean(), inplace=True)

data['Hepatitis B'].fillna(data['Hepatitis B'].mean(), inplace=True)

data[' BMI '].fillna(data[' BMI '].mean(), inplace=True)

data['Polio'].fillna(data['Polio'].mean(), inplace=True)

data['Total expenditure'].fillna(data['Total expenditure'].mean(), inplace=True)

In [44]:
data['Diphtheria '].fillna(data['Diphtheria '].mean(), inplace=True)

data['GDP'].fillna(data['GDP'].mean(), inplace=True)

data['Population'].fillna(data['Population'].mean(), inplace=True)

data[' thinness  1-19 years'].fillna(data[' thinness  1-19 years'].mean(), inplace=True)

data[' thinness 5-9 years'].fillna(data[' thinness 5-9 years'].mean(), inplace=True)

data['Income composition of resources'].fillna(data['Income composition of resources'].mean(), inplace=True)

data['Schooling'].fillna(data['Schooling'].mean(), inplace=True)

In [45]:
data.duplicated().sum()

0

In [46]:
data.describe()

,Year,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
count,2938.000000,2938.000000,2938.000000,2938.000000,2938.000000,2938.000000,2938.000000,2938.000000,2938.000000,2938.000000,2938.000000,2938.000000,2938.000000,2938.000000,2938.000000,2.938000e+03,2938.000000,2938.000000,2938.000000,2938.000000
mean,2007.518720,69.224932,164.796448,30.303948,4.602861,738.251295,80.940461,2419.592240,38.321247,42.035739,82.550188,5.938190,82.324084,1.742103,7483.158469,1.275338e+07,4.839704,4.870317,0.627551,11.992793
std,4.613841,9.507640,124.080302,117.926501,3.916288,1987.914858,22.586855,11467.272489,19.927677,160.445548,23.352143,2.400274,23.640073,5.077785,13136.800417,5.381546e+07,4.394535,4.482708,0.204820,3.264381
min,2000.000000,36.300000,1.000000,0.000000,0.010000,0.000000,1.000000,0.000000,1.000000,0.000000,3.000000,0.370000,2.000000,0.100000,1.681350,3.400000e+01,0.100000,0.100000,0.000000,0.000000
25%,2004.000000,63.200000,74.000000,0.000000,1.092500,4.685343,80.940461,0.000000,19.400000,0.000000,78.000000,4.370000,78.000000,0.100000,580.486996,4.189172e+05,1.600000,1.600000,0.504250,10.300000
50%,2008.000000,72.000000,144.000000,3.000000,4.160000,64.912906,87.000000,17.000000,43.000000,4.000000,93.000000,5.938190,93.000000,0.100000,3116.561755,3.675929e+06,3.400000,3.400000,0.662000,12.100000
75%,2012.000000,75.600000,227.000000,22.000000,7.390000,441.534144,96.000000,360.250000,56.100000,28.000000,97.000000,7.330000,97.000000,0.800000,7483.158469,1.275338e+07,7.100000,7.200000,0.772000,14.100000
max,2015.000000,89.000000,723.000000,1800.000000,17.870000,19479.911610,99.000000,212183.000000,87.300000,2500.000000,99.000000,17.600000,99.000000,50.600000,119172.741800,1.293859e+09,27.700000,28.600000,0.948000,20.700000

In [47]:
data['Country'].nunique()

193

In [48]:
data['Country'].value_counts()

Rwanda         16
Congo          16
Namibia        16
Switzerland    16
South Sudan    16
               ..
Nauru           1
Tuvalu          1
Monaco          1
Niue            1
San Marino      1
Name: Country, Length: 193, dtype: int64

In [49]:
data['Status'].value_counts()

Developing    2426
Developed      512
Name: Status, dtype: int64

In [50]:

data['Status'] = data['Status'].replace({'Developing' : '0', 'Developed' : '1'})

In [51]:
data.sample(10)

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
2720,Uganda,2009,0,57.5,378.0,82,9.63,87.045350,79.000000,1601,15.9,124,78.0,8.43000,79.0,8.1,647.177320,3.277190e+07,6.1,6.1,0.464000,10.800000
2022,Peru,2000,0,71.4,154.0,18,4.59,297.511234,80.940461,1,45.4,24,93.0,4.83000,98.0,0.5,1996.719689,2.591488e+07,1.4,1.4,0.674000,13.500000
1387,Kiribati,2006,0,65.0,212.0,0,0.76,18.194579,88.000000,0,72.8,0,86.0,1.93000,86.0,0.1,1151.555618,9.426000e+03,0.2,0.1,0.576000,12.100000
479,Cambodia,2000,0,57.7,274.0,27,1.51,0.328418,80.940461,12237,12.1,36,62.0,5.87000,59.0,2.1,3.685949,1.215235e+07,11.6,11.9,0.401000,7.200000
65,Antigua and Barbuda,2014,0,76.2,131.0,0,8.56,2422.999774,99.000000,0,47.0,0,96.0,5.54000,99.0,0.2,12888.296670,1.275338e+07,3.3,3.3,0.782000,13.900000
1454,Latvia,2003,1,78.0,29.0,0,8.24,478.064491,98.000000,0,56.3,0,98.0,6.15000,98.0,0.1,5134.956940,2.287955e+06,2.6,2.6,0.761000,15.200000
1256,Ireland,2009,1,79.7,77.0,0,11.41,7620.823456,80.940461,164,58.2,0,94.0,9.53000,94.0,0.1,51983.788920,4.535375e+06,0.3,0.2,0.909000,17.900000
2181,Saint Lucia,2002,0,72.0,174.0,0,11.85,0.000000,14.000000,0,37.9,0,9.0,6.33000,74.0,0.1,7483.158469,1.275338e+07,4.4,4.5,0.681000,12.500000
964,Gambia,2013,0,66.0,266.0,3,0.01,0.000000,97.000000,0,26.0,5,96.0,6.49000,97.0,1.6,7483.158469,1.275338e+07,7.6,7.5,0.445000,8.900000
2379,Somalia,2013,0,54.2,318.0,51,0.01,0.000000,42.000000,3173,23.3,81,47.0,5.93819,42.0,0.8,47.543235,1.275338e+07,6.8,6.6,0.627551,11.992793

In [52]:
# one hot encoding for column 'Country'

from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder()

data['Country'] = ohe.fit_transform(data['Country'].values.reshape(-1, 1)).toarray()

In [53]:
data.sample(5)

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
1590,0.0,2011,0,74.3,13.0,3,0.510000,9.230026,96.000000,1569,36.3,4,96.0,3.89000,96.0,0.1,145.126200,2.863513e+07,8.0,7.8,0.774000,13.000000
1042,0.0,2015,0,73.6,142.0,0,4.602861,0.000000,92.000000,0,48.4,0,99.0,5.93819,92.0,0.1,9212.192824,1.275338e+07,3.8,3.8,0.751000,15.800000
129,0.0,2014,1,81.4,66.0,0,12.320000,8350.193523,98.000000,117,57.1,0,98.0,11.21000,98.0,0.1,51322.639970,8.541575e+06,1.8,2.0,0.892000,15.900000
2385,0.0,2007,0,51.5,34.0,52,0.010000,0.000000,80.940461,1149,2.7,84,4.0,5.93819,4.0,0.9,7483.158469,1.275338e+07,7.3,7.1,0.627551,11.992793
2066,0.0,2004,1,78.0,99.0,0,13.450000,276.099980,94.000000,5,53.3,1,95.0,9.84000,95.0,0.1,1845.588100,1.483861e+06,0.7,0.6,0.792000,15.900000

### Train Test Split

In [54]:
X = data.drop('Life expectancy ', axis=1)
y = data['Life expectancy ']

In [55]:
from sklearn.model_selection import train_test_split

Xtrain, Xtest, ytrain, ytest = train_test_split(X, y, test_size=0.2, random_state=15)

Standardization

In [56]:
from sklearn.preprocessing import StandardScaler

sd = StandardScaler()

Xtrain_scaled = sd.fit_transform(Xtrain)
Xtest_scaled = sd.fit_transform(Xtest)

### Linear Regression Model

In [57]:
from sklearn.linear_model import LinearRegression

lr = LinearRegression()

lr.fit(Xtrain, ytrain)

LinearRegression()

In [58]:
ypred1 = lr.predict(Xtest)

In [59]:
ypred1

array([77.25516135, 75.90359474, 77.78748449, 70.2875955 , 81.67875561,
       72.21281807, 73.37395111, 72.70603886, 78.01043209, 74.68896113,
       74.2224894 , 57.1698498 , 71.66432502, 69.67439068, 74.77807049,
       72.66475083, 52.55284831, 61.32904387, 62.02410981, 63.08183132,
       66.94632643, 42.72860212, 72.79007642, 70.77221817, 56.12627197,
       58.6680794 , 76.60303466, 60.30636538, 74.19100107, 71.6107107 ,
       74.75008361, 78.22129014, 70.48655269, 76.58916937, 71.32491126,
       67.45339901, 76.10683262, 75.58927073, 67.87503991, 77.23809112,
       78.50917198, 76.35029378, 75.2233741 , 61.36276034, 77.00929736,
       69.31377679, 76.65594192, 63.22066063, 62.28943648, 58.72859938,
       66.30272457, 63.0406346 , 59.24105347, 70.65487082, 69.6849394 ,
       68.6685938 , 72.27748752, 51.41687277, 74.7404555 , 68.17320256,
       74.85214098, 74.28988783, 70.72274025, 70.55057224, 69.20058145,
       68.22828926, 63.91082095, 79.53413565, 68.19387514, 68.3650257 ,
       79.30008973, 52.85870896, 71.67321724, 53.53967681, 77.29826713,
       76.69622016, 68.01300683, 49.79971386, 61.54674433, 74.57643653,
       58.30750943, 74.32625782, 81.06953825, 75.72425578, 77.73834761,
       66.68409586, 70.28422398, 69.68194021, 66.47678365, 76.63421137,
       79.67372112, 63.42742207, 65.1838623 , 80.38362937, 69.60640498,
       61.40450096, 61.8373597 , 68.24702038, 62.95788212, 59.39734254,
       67.9214259 , 60.03397245, 73.92243267, 58.43897061, 70.06542834,
       70.59666065, 50.24294159, 78.23474696, 76.1959179 , 67.7855402 ,
       77.76688165, 71.29348771, 80.20752539, 66.202576  , 53.12358407,
       60.39276414, 74.97368457, 51.23721331, 78.77958333, 73.85606248,
       55.90353261, 73.63507355, 64.31128759, 63.29343807, 75.78908361,
       76.05740431, 66.84649257, 76.6381127 , 69.41595758, 52.52336944,
       84.4677797 , 61.41928059, 69.99651261, 71.94208405, 82.08800526,
       58.11865738, 76.62184168, 63.01735444, 60.57693118, 64.87782642,
       79.10883098, 60.77924533, 57.62559786, 53.68069425, 61.34838467,
       82.84091824, 56.25446062, 59.38354807, 81.66674549, 62.30713732,
       53.98048049, 71.87710281, 52.49529879, 68.70520605, 71.39905941,
       73.46555798, 72.4086553 , 60.67203134, 80.25929622, 70.59550736,
       65.11600352, 73.4070686 , 74.48913677, 64.49157754, 72.61961359,
       74.56411285, 75.03708934, 70.90598088, 70.93778765, 73.31451333,
       77.21117294, 74.31805703, 68.74488677, 78.81551911, 79.28403831,
       57.31639204, 63.49640503, 77.5630439 , 61.41095844, 36.43163784,
       61.284021  , 70.78425435, 74.54186988, 53.98700327, 80.29299212,
       64.98093132, 75.903082  , 72.55663298, 67.18577517, 77.08752603,
       67.50797647, 71.41432199, 72.8547591 , 67.25576086, 53.69591353,
       72.81117428, 57.7850215 , 75.40571587, 61.01879415, 76.23440713,
       72.51405408, 67.61662637, 80.81205467, 72.5979749 , 79.41214263,
       76.09859318, 64.4151642 , 55.53393845, 53.32255602, 69.48078809,
       68.55336288, 65.96100258, 61.08968187, 49.58233086, 68.81294974,
       65.1672798 , 70.26024458, 68.8866818 , 59.02829839, 72.2591079 ,
       70.91453055, 74.94492999, 76.58549389, 67.89992177, 69.25196203,
       80.93871741, 73.19760317, 45.497618  , 70.83793792, 80.83038945,
       61.75559098, 81.61812346, 84.13057802, 75.81496513, 73.15831359,
       51.82324858, 71.89228809, 60.76757885, 84.15260718, 74.95729801,
       74.69015642, 75.11771053, 62.39436431, 58.48601844, 62.55369898,
       77.36475359, 45.5086837 , 74.81369912, 80.35795646, 71.80346113,
       75.57252669, 79.10718928, 62.35626222, 63.01294   , 66.5384866 ,
       33.39866316, 69.55617752, 74.04178156, 68.94025818, 68.98535527,
       72.71788218, 69.7038448 , 69.72167831, 72.75619874, 74.75665249,
       66.29860495, 72.3645243 , 51.94735168, 62.44585161, 60.20080465,
       80.43264059, 65.8871273 , 81.56544719, 60.91896217, 73.0146832 ,
       80.26962823, 74.28729678, 58.88041915, 73.93448534, 75.98114968,
       77.6070909 , 70.38848747, 59.6894748 , 45.88569959, 69.66965984,
       70.45300888, 73.51364798, 49.19954612, 70.27645504, 52.94090132,
       79.50993345, 74.94748987, 84.40715543, 47.27927523, 50.53768056,
       71.44610696, 71.019554  , 63.03314817, 63.39225578, 57.07606179,
       70.47168879, 72.69692864, 72.94088199, 73.39693869, 63.10524462,
       44.02335828, 75.20221428, 52.19038794, 55.21567156, 51.82406664,
       82.3098885 , 66.22806345, 72.52788128, 75.38986145, 80.35254793,
       70.79331638, 52.62877199, 74.62633638, 77.6512308 , 69.07682822,
       40.45246999, 54.73739723, 75.94164829, 83.21866745, 47.52991535,
       73.85951284, 64.45146703, 75.35343503, 73.77640091, 71.54822547,
       62.2057105 , 74.79129104, 59.82054214, 78.10604471, 73.48813468,
       80.91245139, 43.06604308, 68.25776029, 60.22898056, 73.93510938,
       70.50389897, 67.64542043, 70.53561699, 73.17278573, 75.80330881,
       57.85276703, 62.75108044, 78.69973212, 81.65948205, 74.66858497,
       71.83162192, 68.74025043, 73.03596393, 78.66686493, 62.65343162,
       67.24884449, 68.33425282, 74.43770787, 56.7126519 , 71.38257714,
       58.14582684, 59.82284726, 70.39783877, 78.75433648, 75.28856313,
       78.05076932, 66.3843978 , 77.10402919, 73.17582133, 60.34303654,
       55.44355508, 75.1348497 , 51.48727972, 78.25260516, 59.54829215,
       45.02643157, 71.19015909, 72.65801853, 82.39228977, 75.07085904,
       84.87191183, 72.17513832, 59.43359   , 79.93040896, 67.36770727,
       72.11775293, 73.49734   , 76.06521864, 71.34911746, 72.0011214 ,
       67.1165944 , 76.29697881, 70.83703917, 71.17724879, 71.33318755,
       72.79638817, 71.29473402, 74.91849358, 72.68104157, 71.91226255,
       73.71107545, 70.58957061, 79.38456846, 79.3111039 , 80.48582885,
       68.7411628 , 67.43032421, 70.97444953, 82.03749751, 64.54684475,
       70.7403446 , 71.99951777, 73.50287958, 67.43082178, 75.43715867,
       62.00436456, 71.7091673 , 59.6238509 , 66.68625772, 64.15691455,
       71.70654236, 70.46957437, 59.83996356, 73.09665008, 76.54331671,
       75.17743341, 60.9067687 , 68.14593508, 51.35764956, 66.44699667,
       69.07862773, 68.91785419, 69.18460327, 75.74397585, 76.85385802,
       73.12170697, 73.01494294, 72.09351293, 64.60934265, 75.80375865,
       79.34768585, 61.73409079, 77.93369883, 62.87522589, 67.52547484,
       65.52271215, 75.8213914 , 72.08821144, 51.53220606, 76.47888519,
       60.65857129, 70.19029794, 82.57568732, 67.53680051, 70.678998  ,
       72.97842705, 58.98939869, 61.11115122, 62.43496045, 76.0822667 ,
       46.13854441, 74.88977742, 68.37224032, 56.37439167, 78.23010695,
       76.45216103, 65.58500671, 63.7487282 , 69.41178371, 68.16254474,
       60.71905991, 52.19414089, 81.84683153, 75.41742885, 68.99543599,
       73.32390623, 78.93935741, 75.53752445, 82.68287814, 67.91408536,
       71.76184636, 60.11531436, 64.69167655, 78.93488887, 80.04413189,
       70.42515729, 69.61095926, 82.01674708, 71.71774887, 55.39000386,
       82.39615217, 51.51401165, 57.46818786, 74.75635939, 71.99883931,
       63.9069775 , 67.45560468, 74.95552187, 75.44772472, 77.17172302,
       73.1361329 , 60.49488106, 71.87630502, 64.32805582, 73.06892004,
       77.95529058, 70.65272561, 76.62573908, 71.17112539, 48.42794722,
       64.06716375, 64.10602479, 72.98293407, 82.06409177, 71.17744243,
       71.82742576, 55.98913792, 77.79361062, 34.43210206, 73.15478056,
       70.35451761, 58.77395354, 71.27746763, 66.82768448, 73.74259825,
       75.98693417, 74.83876221, 60.27320394, 76.92017587, 73.59725628,
       76.9480139 , 51.75159148, 50.46957116, 73.63826417, 72.54408526,
       56.13163748, 60.81612167, 78.08646687, 83.74017198, 71.02867443,
       83.51260132, 80.87885857, 66.2496394 , 79.48016026, 70.84393951,
       76.50464272, 70.35054982, 58.44562576, 74.37040559, 84.9656285 ,
       60.89997375, 77.76010965, 60.26403936, 77.77946371, 72.01022106,
       59.319112  , 80.53158137, 78.03209746, 77.2492994 , 55.16195357,
       57.64011552, 62.64053761, 68.71139344, 51.71439894, 70.56425622,
       73.91772337, 73.40203701, 74.18174503, 76.96664608, 82.04881466,
       74.08656692, 58.91474546, 78.71660205, 71.2877227 , 73.20739208,
       55.78852237, 77.07357053, 67.98139938, 70.11517114, 74.30910813,
       78.00854664, 69.69716265, 70.93948684, 76.43211185, 79.01180587,
       72.0224044 , 67.69855753, 69.84169906])

In [60]:
ytest

695     77.1
559     77.3
1162    73.5
1311    73.0
252     78.3
        ...
1167    72.5
245     80.0
2283    72.9
2783    57.5
307     69.8
Name: Life expectancy , Length: 588, dtype: float64

In [61]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

r2_score(ytest, ypred1)

0.8092259677054933

In [62]:
mean_squared_error(ytest, ypred1)

17.792489486372343

In [63]:
mean_absolute_error(ytest, ypred1)

3.0989994384267634

## Decision Tree Regressor

In [64]:
from sklearn.tree import DecisionTreeRegressor

dt = DecisionTreeRegressor(max_depth=10)

dt.fit(Xtrain, ytrain)

DecisionTreeRegressor(max_depth=10)

In [65]:
ypred2 = dt.predict(Xtest)

In [66]:
ypred2

array([74.60588235, 74.60588235, 74.2       , 73.27777778, 78.2       ,
       74.25492958, 69.2       , 73.58103448, 79.35      , 72.37037037,
       74.60588235, 50.3       , 72.43      , 73.29736842, 73.6       ,
       71.9875    , 61.3       , 58.81666667, 63.925     , 58.11666667,
       70.4625    , 45.3       , 75.97313433, 68.8       , 56.13333333,
       56.8       , 76.9       , 57.5       , 75.97313433, 74.25492958,
       78.56      , 79.35      , 72.61111111, 74.7       , 69.6       ,
       72.5       , 75.97313433, 78.05      , 73.29736842, 78.05      ,
       79.65      , 81.925     , 74.        , 58.175     , 76.9       ,
       70.76666667, 74.06666667, 64.05      , 58.81666667, 56.64285714,
       56.8       , 63.12222222, 61.1       , 65.175     , 67.74390244,
       71.53      , 72.17      , 52.55172414, 76.04545455, 67.74390244,
       74.36666667, 73.30454545, 69.1       , 74.7       , 72.14      ,
       73.        , 43.3       , 79.35      , 58.6       , 62.86052632,
       82.        , 56.7       , 72.17      , 51.70625   , 74.06666667,
       74.60588235, 71.9       , 53.8       , 69.6       , 75.97313433,
       58.175     , 74.60588235, 85.67222222, 75.97313433, 76.9       ,
       66.6       , 69.04498634, 64.57333333, 71.2       , 74.25492958,
       79.61111111, 59.35      , 67.74390244, 79.5       , 75.97313433,
       59.55833333, 52.55172414, 66.4       , 52.        , 58.81666667,
       71.        , 56.725     , 74.60588235, 49.35      , 67.54      ,
       71.88571429, 58.        , 76.9       , 74.1       , 67.74390244,
       78.05      , 74.525     , 81.85892857, 57.15      , 46.        ,
       52.46      , 73.58103448, 50.28571429, 81.85892857, 79.61111111,
       58.81666667, 75.        , 68.        , 62.63333333, 74.7       ,
       74.25492958, 66.2       , 76.9       , 79.        , 52.55172414,
       82.67894737, 57.5       , 69.6       , 78.05      , 81.85892857,
       53.95      , 75.97313433, 62.86052632, 56.64285714, 66.        ,
       87.        , 52.46      , 54.76666667, 52.55172414, 63.12222222,
       77.9       , 48.16666667, 57.7       , 84.5625    , 62.86052632,
       52.55172414, 72.17      , 46.        , 73.29736842, 74.7       ,
       75.97313433, 84.7625    , 58.175     , 81.85892857, 76.        ,
       66.2       , 75.        , 74.7       , 67.86666667, 79.        ,
       74.7       , 75.97313433, 65.95      , 72.43      , 74.25492958,
       82.1       , 76.9       , 62.86052632, 79.08      , 78.05      ,
       45.69090909, 59.7       , 71.9       , 62.63333333, 46.7       ,
       65.        , 73.29736842, 72.43      , 41.        , 78.47142857,
       62.4       , 74.7       , 74.25492958, 73.29736842, 65.        ,
       69.        , 72.37037037, 74.25492958, 67.13333333, 52.55172414,
       73.58103448, 54.76666667, 74.7       , 51.70625   , 74.7       ,
       74.60588235, 69.6       , 84.5625    , 70.4625    , 76.04545455,
       74.25492958, 64.05      , 47.55      , 61.3       , 69.6       ,
       67.74390244, 55.9       , 48.9       , 44.56666667, 71.6       ,
       52.1       , 69.6       , 66.2       , 61.1       , 67.3       ,
       79.        , 72.14      , 74.25492958, 63.6       , 74.4       ,
       82.1       , 75.97313433, 56.5       , 69.04498634, 79.51904762,
       62.86052632, 78.47142857, 85.67222222, 75.97313433, 74.25492958,
       54.15      , 67.46666667, 58.81666667, 81.85892857, 69.6625    ,
       72.14      , 73.6       , 62.86052632, 58.11666667, 61.7       ,
       74.60588235, 55.        , 74.60588235, 81.85892857, 74.7       ,
       74.2       , 82.1       , 63.12222222, 65.74545455, 67.54      ,
       46.7       , 73.29736842, 78.        , 66.6       , 74.4       ,
       65.1       , 68.1       , 75.97313433, 75.97313433, 74.60588235,
       65.06285714, 82.        , 52.55172414, 63.12222222, 57.5       ,
       76.04545455, 65.06285714, 79.7       , 56.64285714, 74.7       ,
       77.9       , 75.97313433, 57.82      , 74.7       , 75.97313433,
       76.04545455, 72.17      , 52.03333333, 48.1       , 73.27777778,
       72.37037037, 71.9875    , 45.775     , 74.7       , 52.65      ,
       84.5625    , 76.04545455, 81.85892857, 44.56666667, 39.        ,
       78.        , 74.60588235, 49.2       , 62.1       , 53.2       ,
       64.57333333, 66.2       , 78.        , 74.25492958, 63.12222222,
       45.775     , 74.25492958, 52.03333333, 57.5       , 51.5       ,
       81.925     , 62.86052632, 68.9       , 76.04545455, 79.7       ,
       73.29736842, 52.5       , 74.60588235, 79.61111111, 72.79      ,
       43.8       , 51.70625   , 78.05      , 79.3       , 51.73333333,
       75.97313433, 62.86052632, 74.7       , 75.97313433, 68.95453304,
       56.2       , 73.8       , 59.55833333, 76.9       , 73.58103448,
       85.67222222, 50.28571429, 73.        , 61.1       , 65.7       ,
       73.15      , 65.06285714, 67.74390244, 73.58103448, 71.9875    ,
       56.8       , 56.1       , 78.5       , 81.85892857, 71.9875    ,
       72.43      , 67.9       , 75.97313433, 81.85892857, 63.925     ,
       65.06285714, 71.2       , 74.7       , 63.12222222, 69.6       ,
       57.69444444, 52.03333333, 72.14      , 82.1       , 78.05      ,
       71.1       , 66.58181818, 76.9       , 73.29736842, 58.175     ,
       56.15      , 65.1       , 45.3       , 75.6       , 73.3       ,
       47.1       , 73.30454545, 74.7       , 81.85892857, 72.61111111,
       82.67894737, 73.58103448, 58.11666667, 79.61111111, 69.        ,
       72.14      , 72.37037037, 72.14      , 70.75832574, 74.60588235,
       67.43333333, 75.97313433, 69.6625    , 73.30454545, 68.95453304,
       72.17      , 67.5       , 74.60588235, 74.25492958, 75.97313433,
       72.14      , 68.9       , 79.61111111, 81.85892857, 82.11666667,
       64.57333333, 67.74390244, 74.25492958, 77.9       , 64.57333333,
       73.15      , 67.65      , 85.18333333, 76.        , 74.60588235,
       69.        , 72.37037037, 59.6       , 71.9       , 63.12222222,
       68.2       , 69.6625    , 73.8       , 70.33333333, 75.97313433,
       75.97313433, 62.9       , 73.29736842, 47.85      , 65.06285714,
       73.29736842, 67.74390244, 76.85714286, 81.85892857, 74.06666667,
       64.57333333, 69.25      , 74.25492958, 59.35      , 73.58103448,
       74.60588235, 57.5       , 79.61111111, 66.5       , 63.12222222,
       67.86666667, 82.        , 74.7       , 44.56666667, 74.7       ,
       48.05      , 69.16246585, 78.47142857, 61.7       , 72.43      ,
       73.58103448, 53.5       , 63.12222222, 62.3       , 71.9875    ,
       55.33333333, 74.7       , 67.74390244, 51.5       , 78.05      ,
       79.61111111, 67.13333333, 69.        , 68.95453304, 62.86052632,
       58.53333333, 54.15      , 82.1       , 74.25492958, 73.30454545,
       74.60588235, 83.        , 82.1       , 81.85892857, 65.5       ,
       73.30454545, 58.81666667, 59.6       , 77.55      , 80.        ,
       70.4625    , 71.88571429, 82.67894737, 70.75832574, 52.65      ,
       84.5625    , 48.86666667, 54.15      , 73.58103448, 72.17      ,
       65.06285714, 76.        , 74.60588235, 75.97313433, 76.9       ,
       65.5       , 56.64285714, 67.74390244, 67.54      , 74.25492958,
       79.35      , 72.79      , 76.9       , 73.29736842, 48.7       ,
       62.86052632, 57.69444444, 73.1125    , 78.47142857, 73.30454545,
       73.58103448, 68.        , 78.2       , 46.7       , 78.05      ,
       69.6       , 47.85      , 73.30454545, 62.4       , 75.97313433,
       78.05      , 72.37037037, 58.4       , 75.6       , 75.97313433,
       78.05      , 52.55172414, 56.5       , 74.25492958, 72.8       ,
       52.55172414, 62.9       , 82.1       , 77.        , 76.        ,
       79.51904762, 77.9       , 66.2       , 78.9       , 73.29736842,
       82.1       , 75.97313433, 55.1       , 70.        , 85.67222222,
       59.55833333, 76.04545455, 63.12222222, 82.38333333, 72.14      ,
       73.3       , 82.1       , 83.        , 74.60588235, 59.8       ,
       45.4       , 59.7       , 65.74545455, 56.8       , 74.525     ,
       75.97313433, 74.25492958, 72.37037037, 73.58103448, 82.67894737,
       73.58103448, 55.62727273, 79.51904762, 75.97313433, 73.29736842,
       56.725     , 79.61111111, 73.30454545, 72.17      , 74.60588235,
       82.1       , 74.525     , 75.        , 71.9875    , 79.51904762,
       72.43      , 68.        , 71.53      ])

In [67]:
ytest

695     77.1
559     77.3
1162    73.5
1311    73.0
252     78.3
        ...
1167    72.5
245     80.0
2283    72.9
2783    57.5
307     69.8
Name: Life expectancy , Length: 588, dtype: float64

In [68]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

r2_score(ytest, ypred2)

0.9138608525488193

In [69]:
mean_squared_error(ytest, ypred2)

8.033744723832319

In [70]:
mean_absolute_error(ytest, ypred2)

1.7684475085564193